<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Firefox Sharing{% endblock %}</title>
    <script>
      if (/Firefox\/|FxiOS\//.test(navigator.userAgent)) {
        document.documentElement.classList.add("is-firefox");
      }
    </script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/common-shared.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />
    {% block extra_css %}{% endblock %}
  </head>

  <body>
    <header class="site-header">
      <img class="site-logo" src="{% static 'assets/logo.svg' %}" alt="Firefox" />
      {% block header %}
      {% endblock %}
    </header>
    {% block main %}
    <main>
      {% block content %}{% endblock %}
    </main>
    {% endblock %}
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
