{% extends "shares/callout_page.html" %}
{% load static %}

{% block title %}These shared links aren't available{% endblock %}

{% block image_src %}{% static 'assets/mascot-expired.svg' %}{% endblock %}
{% block image_attrs %}width="220" height="220"{% endblock %}

{% block heading %}These shared links aren't available{% endblock %}
{% block body %}This page expired after 7 days or was removed for policy reasons.{% endblock %}

{% block cta %}
  {% if not is_firefox %}
    <a class="cta-button" href="https://www.mozilla.org/firefox/?utm_source=link_sharing">Try Firefox</a>
  {% endif %}
{% endblock %}
