{% extends "shares/base.html" %}
{% load static %}

{% block title %}Creating your share...{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/moz-share.css' %}" />
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'components/moz-share.mjs' %}" type="module"></script>
{% endblock %}

{% block main %}
  <main class="share-wrapper" aria-busy="true" aria-label="Creating your share...">
    <moz-share loading count="{{ link_count }}"></moz-share>
  </main>
{% endblock %}
