{% extends "shares/callout_page.html" %}
{% load static %}

{% block title %}These shared links aren't available{% endblock %}

{% block image_src %}{% static 'assets/mascot-expired.svg' %}{% endblock %}
{% block image_attrs %}width="220" height="220"{% endblock %}

{% block heading %}These shared links aren't available{% endblock %}
{% block body %}
  <p>This page expired after 7 days or was removed for <a href="https://www.mozilla.org/en-US/about/legal/acceptable-use/">policy reasons</a>.</p>
  <p>Want to share links with anyone?</p>
{% endblock %}

{% block cta %}
  <a class="cta-button fx-only" href="https://support.mozilla.org/kb/link-collections">Create a new link</a>
  <a class="cta-button not-fx" href="https://www.mozilla.org/firefox/?utm_source=link_sharing">Try Firefox</a>
{% endblock %}
