<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ share_data.title }}</title>
    <meta property="og:title" content="{{ share_data.title }}" />
    <meta property="og:description" content="A collection of links shared via Firefox" />
    <meta property="og:type" content="website" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/common-shared.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/moz-share.css' %}" />
    <script src="{% static 'components/moz-share.mjs' %}" type="module"></script>
  </head>

  <body>
    <main class="share-wrapper">
      <moz-share>{{ share_data|json_script }}</moz-share>
      {% for message in messages %}<moz-message-bar type="success" message="{{ message }}" dismissable></moz-message-bar>{% endfor %}
    </main>
  </body>
</html>
