<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creating your share...</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/common-shared.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/moz-share.css' %}" />
    <script src="{% static 'components/moz-share.mjs' %}" type="module"></script>
  </head>

  <body>
    <main class="share-wrapper" aria-busy="true" aria-label="Creating your share...">
      <moz-share loading></moz-share>
    </main>
  </body>
</html>
