@import "./tokens-shared.css";

@layer tokens-foundation {
  :root, :host(.anonymous-content-host) {
    --attention-dot-color: light-dark(#2ac3a2, #54ffbd);
    --background-color-box-info: light-dark(var(--color-gray-20), var(--color-gray-80));
    --background-color-canvas: light-dark(var(--color-white), var(--color-gray-90));
    --background-color-list-item-hover: color-mix(in srgb, var(--color-accent-primary) 20%, transparent);
    --table-row-background-color-alternate: light-dark(#f0f0f4, var(--color-gray-80));
    --border-color: light-dark(var(--color-gray-50), var(--color-gray-70));
    --border-color-deemphasized: light-dark(var(--color-gray-30), var(--color-gray-70));
    --border-color-interactive: light-dark(var(--color-gray-60), var(--color-gray-50));
    --button-background-color: color-mix(in srgb, currentColor 7%, transparent);
    --button-background-color-hover: color-mix(in srgb, currentColor 14%, transparent);
    --button-background-color-active: color-mix(in srgb, currentColor 21%, transparent);
    --button-text-color: light-dark(var(--color-gray-100), var(--color-gray-05));
    --button-text-color-primary: light-dark(var(--color-white), var(--color-gray-100));
    --color-accent-primary: light-dark(var(--color-blue-60), var(--color-cyan-30));
    --color-accent-primary-hover: light-dark(var(--color-blue-70), var(--color-cyan-20));
    --color-accent-primary-active: light-dark(var(--color-blue-80), var(--color-cyan-10));
    --color-accent-primary-selected: light-dark(var(--color-blue-60), var(--color-cyan-30));
    --font-size-root: 15px;
    --font-size-xsmall: .733rem;
    --font-size-small: .867rem;
    --font-size-large: 1.133rem;
    --font-size-xlarge: 1.467rem;
    --font-size-xxlarge: 1.6rem;
    --font-size-xxxlarge: 2.2rem;
    --link-color: var(--color-accent-primary);
    --link-color-hover: var(--color-accent-primary-hover);
    --link-color-active: var(--color-accent-primary-active);
    --link-color-visited: var(--link-color);
    --page-main-content-width: 664px;
    --table-header-text-color: light-dark(var(--color-white), var(--color-gray-100));
    --text-color: light-dark(var(--color-gray-100), var(--color-gray-05));
    --text-color-accent-primary-selected: light-dark(var(--color-white), var(--color-gray-100));
  }
}

@layer tokens-prefers-contrast {
  @media (prefers-contrast) {
    :root, :host(.anonymous-content-host) {
      --button-text-color-ghost: var(--button-text-color);
      --button-text-color-ghost-disabled: var(--button-text-color-disabled);
    }
  }
}

@layer tokens-forced-colors {
  @media (forced-colors) {
    :root, :host(.anonymous-content-host) {
      --button-background-color-ghost: var(--button-background-color);
      --button-background-color-ghost-disabled: var(--button-background-color-disabled);
      --button-text-color-ghost: var(--button-text-color);
      --button-text-color-ghost-disabled: var(--button-text-color-disabled);
    }
  }
}
