body {
  min-height: 100vh;
  margin: 0;
  background-image: url("/static/assets/background-light.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url("/static/assets/background-dark.png");
  }
}

/*  hide the card if it's not defined yet to prevent it from flashing on load */
moz-card:not(:defined) {
  visibility: hidden;
}

moz-card {
  --card-box-shadow: none;
  --card-border: none;
  --card-border-radius: 24px;

  &::part(moz-card),
  &::part(content) {
    padding: 0;
  }
}

.callout {
  display: flex;
  align-items: center;
  padding: var(--space-large);
  color: var(--text-color);
  max-width: 775px;
}

.callout-image {
  border-radius: 24px;
  height: var(--size-layout-large);
}

.callout-copy {
  padding-inline: 80px;
}

/* borrowed styles from moz-button.mjs since the CTA is an a element */
.cta-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-block-start: var(--space-large);
  min-height: var(--button-min-height);
  padding: var(--button-padding);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color-primary);
  border-color: var(--button-border-color-primary);
  color: var(--button-text-color-primary);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  text-decoration: none;

  &:hover {
    background-color: var(--button-background-color-primary-hover);
    border-color: var(--button-border-color-primary-hover);
    color: var(--button-text-color-primary-hover);
  }

  &:hover:active {
    background-color: var(--button-background-color-primary-active);
    border-color: var(--button-border-color-primary-active);
    color: var(--button-text-color-primary-active);
  }

  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }
}
