
.callout {
  display: flex;
  align-items: center;
  padding: var(--space-large);
  color: var(--text-color);
  max-width: 775px;
}

.callout-image {
  border-radius: 24px;
  height: var(--size-layout-large);
}

.callout-copy {
  padding-inline: 80px;
}

