.share-wrapper {
  align-items: stretch;
}

body:has(.share-wrapper) .site-header {
  flex-direction: row-reverse;
}

body:has(.share-wrapper) .site-logo {
  position: static;
}

.share-header-left {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.share-title-block {
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.share-title {
  margin-block: 0 var(--space-small);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-xlarge);
  color: var(--text-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.share-meta {
  display: flex;
  align-items: center;
  gap: var(--space-small);
  color: var(--text-color);
  margin-block-end: 24px;
}

.link-count {
  display: flex;
  align-items: center;
  gap: var(--space-small);
}

.link-count picture {
  display: flex;
}

.header-actions {
  flex-shrink: 0;
}

@media (min-width: 1301px) {
  body:has(.share-wrapper) .site-header {
    flex-direction: row;
  }

  body:has(.share-wrapper) .site-logo {
    position: absolute;
  }

  .share-header-left {
    flex-direction: row;
    align-items: center;
    overflow: visible;
  }

  .share-meta {
    margin-block-end: 0;
  }
}

moz-message-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  --message-bar-icon-close-url: url("/static/assets/close.svg");
}
