body {
  background-image: url("/static/assets/background-light.png");
  background-size: contain;
  background-attachment: fixed;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url("/static/assets/background-dark.png");
  }
}

moz-message-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  --message-bar-icon-close-url: url("/static/assets/close.svg");
}
